.error {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #000001;
  color: #deddda;
  padding-top: 7vh;
  overflow: hidden;

  &__logo {
    width: 100%;
    padding-left: 50%;
    font-size: 40px;
  }

  &__body {
    display: flex;
    flex-direction: row;
    .error__gif {
      //   flex: 0 0 40%;
      margin-left: 50px;
    }

    .error__text {
      font-size: 30px;
      span {
        transition: all 1s ease-in;
      }
      span:hover {
        border-bottom: solid 1px #deddda;
      }
    }
  }
}
