.up-arrow {
  position: fixed;
  font-size: 45px;
  color: #474747;
  bottom: 10%;
  right: 2%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  @media (max-width: 1123px) {
    font-size: 30px;
    right: 2%;
  }
  @media (max-width: 780px) {
    font-size: 20px;
    right: 3%;
  }
}
