$colorInput: rgb(255 255 255 / 66%);
$colorInputFocus: rgba(255, 255, 255, 0.838);
$placeholderColor: rgba(134, 134, 134, 0.6);

.reviews__wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  margin-top: 17px;
  width: 100%;
  justify-content: space-evenly;
  font-family: "Oswald";
  background-color: rgba(233, 233, 255, 0.33);
  padding-top: 36px;

  ::-webkit-scrollbar {
    height: 6px;
    width: 7px;
    // background: rgb(251, 251, 251);
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(40, 79, 151);
    -webkit-border-radius: 0px;
    cursor: pointer;
  }
  ::-webkit-scrollbar-corner {
    background: rgb(255, 255, 255);
    -webkit-border-radius: 5px;
    cursor: pointer;
  }

  .reviews-input__wrapper {
    flex: 0 0 30%;
    border-radius: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Oswald";
    button {
      width: 101%;
      font-size: 25px;
      padding: 5px;
      outline: none;
      background-color: #213b6999;
      color: white;
      border: none;
      font-family: "Oswald";
      cursor: pointer;
      transition: all 0.2s ease-out;
    }
    button:hover {
      background-color: #244e9699;
    }

    button:active {
      transform: scale(0.9);
      background-color: #192e5299;
    }
    h1 {
      color: $colorInput;
    }

    input {
      height: 30px;
      font-size: 23px;
      text-decoration: none;
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 10px;
      font-family: "Oswald";
      background-color: $colorInput;
      transition: all 0.3s ease;
    }

    input::placeholder {
      color: $placeholderColor;
    }
    input:focus {
      background-color: $colorInputFocus;
    }

    textarea::placeholder {
      color: $placeholderColor;
    }

    textarea:focus {
      background-color: $colorInputFocus;
    }
    textarea {
      font-size: 23px;
      padding: 5px;
      outline: none;
      text-decoration: none;
      font-family: "Oswald";
      width: 100%;
      resize: none;
      border-radius: 5px;
      height: 400px;
      background-color: $colorInput;
      transition: all 0.3s ease;
      margin-bottom: 10px;

      &:active {
        background-color: green($color: #000000);
      }
    }

    .reviews-input__name-input {
      width: 100%;
      input {
        width: 100%;
      }
    }

    .reviews-input__title-input {
      width: 100%;
      input {
        width: 100%;
      }
    }

    .reviews-input__add-button {
      margin: 0 auto;
      display: block;
    }
  }
  .reviews-list__wrapper {
    flex: 0 0 39%;
    padding-right: 60px;
    padding-left: 30px;
    max-height: 554px;
    overflow-y: scroll;

    .reviews-list__element {
      background-color: $colorInput;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 5px;

      .reviews-list__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: solid 1px rgba(0, 0, 0, 0.171);
        width: 100%;

        .reviews-list__name {
          font-size: 20px;
        }
        .reviews-list__date {
          font-size: 20px;
        }
      }
      .reviews-list__main {
        font-size: 25px;
        h3 {
          margin-bottom: 10px;
        }

        .reviews-list__text {
          max-height: 300px;
          overflow-y: scroll;
        }
      }
    }
  }
}
