$colorInput: #ffffffa8;
$colorInputFocus: rgba(255, 255, 255, 0.838);
$placeholderColor: #deddda;
$borderRadius: 8px;
.reviews__wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  margin-top: 17px;
  width: 100%;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  background-color: #000001;
  padding-top: 36px;
  padding-bottom: 36px;

  ::-webkit-scrollbar {
    height: 6px;
    width: 7px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(40, 79, 151);
    -webkit-border-radius: 0px;
    cursor: pointer;
  }
  ::-webkit-scrollbar-corner {
    background: rgb(255, 255, 255);
    -webkit-border-radius: 5px;
    cursor: pointer;
  }

  .reviews-input__wrapper {
    flex: 0 0 30%;
    border-radius: $borderRadius;
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Montserrat";
    button {
      width: 101%;
      font-size: 25px;
      padding: 5px;
      outline: none;
      background-color: #38383899;
      color: #deddda;
      border: none;
      font-family: "Montserrat";
      cursor: pointer;
      transition: all 0.2s ease-out;
    }
    button:hover {
      background-color: #deddda;
      color: black;
    }

    button:active {
      transform: scale(0.95);
      background-color: #9b9b9b;
    }
    h1 {
      color: $colorInput;
    }

    input {
      height: 50px;
      font-size: 23px;
      text-decoration: none;
      border: none;
      outline: none;
      border-radius: $borderRadius;
      border: solid 2px rgba(189, 189, 189, 0.548);
      padding: 5px;
      margin-bottom: 10px;
      font-family: "Montserrat";
      background-color: transparent;
      transition: all 0.3s ease;
      color: #deddda;
    }

    input::placeholder {
      color: $placeholderColor;
    }
    input:focus {
      border: solid 2px #f0ce65b9;
    }

    textarea::placeholder {
      color: $placeholderColor;
    }

    textarea:focus {
      border: solid 2px #f0ce65b9;
    }
    textarea {
      font-size: 23px;
      padding: 5px;
      outline: none;
      text-decoration: none;
      font-family: "Montserrat";
      width: 100%;
      resize: none;
      border-radius: $borderRadius;
      border: solid 2px rgba(189, 189, 189, 0.548);
      height: 300px;
      background-color: transparent;
      transition: all 0.3s ease;
      margin-bottom: 10px;
      color: #deddda;

      &:active {
        background-color: green($color: #000000);
      }
    }

    .reviews-input__name-input {
      width: 100%;
      input {
        width: 100%;
      }
    }

    .reviews-input__title-input {
      width: 100%;
      input {
        width: 100%;
      }
    }

    .reviews-input__add-button {
      margin: 0 auto;
      display: block;
    }
  }
  .reviews-list__wrapper {
    flex: 0 0 39%;
    padding-right: 60px;
    padding-left: 30px;
    max-height: 554px;
    overflow-y: scroll;

    .reviews-list__element {
      background-color: transparent;
      padding: 20px;
      border-radius: $borderRadius;
      border: solid 2px #deddda67;
      margin-bottom: 5px;
      color: #deddda;
      font-family: "Montserrat", sans-serif;

      .reviews-list__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: solid 1px #deddda67;
        width: 100%;

        .reviews-list__name {
          font-size: 20px;
        }
        .reviews-list__date {
          font-size: 20px;
        }
      }
      .reviews-list__main {
        font-size: 25px;
        h3 {
          margin: 10px 0;
          font-size: 20px;
        }

        .reviews-list__text {
          max-height: 300px;
          overflow-y: scroll;
        }
      }
    }
  }
}
