.movie {
  margin: 0 auto;
  margin-top: 50px;
  width: 85%;
  height: 30%;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.movie__card {
  margin-bottom: 40px;
}

.movie__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.movie__title h1 {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
}

.movie__title span {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.movie__title span:hover {
  color: rgba(13, 96, 35, 0.786);
}

.movie__wrapper {
  cursor: pointer;
  width: 30%;
  overflow: visible;
}

.movie__picture {
  position: relative;
}

.movie__picture > img {
  height: 90%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  max-height: 430px;
}

.movie__rating {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  font-weight: 700;
  border: solid 1px white;
  border-radius: 10px;
  padding: 7px;
  font-size: 13px;
}

.movie__name-year {
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
}

.movie__spinner {
  position: fixed;
  top: 45%;
  right: 45%;
  z-index: 15;
  /* margin-right: -50%; */
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.slick-dots li.slick-active button:before {
  color: rgb(0, 0, 0) !important;
  font-size: 10px !important;
}

.slick-dots li button:before {
  color: rgb(0, 0, 0) !important;
}

.slick-track {
  overflow: visible !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
